* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e8eaf1;
  font-size: 18px;
  font-family: sans-serif, Arial, Helvetica;
}

.markdownContainer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}